<%- include('../_layout/_meta/pagewrap-start') %>

  <div id="content-wrapper">
    <center>
      <% try { %>
        <span style="color:green">
          <%- message %>
        </span>
        <% } catch { %>
          </span>
          <% } %>

            <img class="pfp-large" src="<%- pfp %>" alt="" />
            <h2>Welcome,
              <% if (nickname==undefined) { %>
                user (you haven't set a nickname yet)
                <% } else { %>
                  <%- nickname %>
                    <% } %>
            </h2>

            <% if (tab==='home' ) { %>
              <hr>
              <h3>Change your Nickname</h3>
              <form action="/auth/update-nickname" method="POST">
                <input maxlength="255" type="text" name="new_nickname" placeholder="new nickname">
                <input type="submit">
              </form>

              <hr>
              <h3>Change your Profile Picture</h3>
              <form action="/auth/update-pfp" method="POST">
                Choose
                <select name="new_pfp_path">
                  <option value="">
                    ---
                  </option>
                  <option value="/images/pfps/VanGogh-Irises_3.jpg">
                    Irises
                  </option>
                  <option
                    value="/images/pfps/256px-Crustacean,_lying_on_his_back_by_Vincent_van_Gogh_(Van_Gogh_museum_photogtaph).jpg">
                    Crab
                  </option>
                  <option value="/images/pfps/VanGogh-starry_night.jpg">
                    Starry Night
                  </option>
                  <option value="/images/pfps/Vincent_van_Gogh_-_Almond_blossom_-_Google_Art_Project.jpg">
                    Almond Blossom
                  </option>
                  <option value="/images/pfps/128px-Vincent_van_Gogh_-_Field_with_Poppies_(1889).jpg">
                    Field
                  </option>
                  <option value="/images/pfps/128px-VanGogh-Irises_1.jpg">
                    More Irises
                  </option>
                  <option value="/images/pfps/Vincent_van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg">
                    Starry Lake
                  </option>
                  <option
                    value="/images/pfps/128px-Vincent_van_Gogh_-_Wheatfield_under_thunderclouds_-_Google_Art_Project.jpg">
                    Prairie
                  </option>

                </select>
                Or Link
                <input maxlength="255" type="text" name="new_pfp_url" placeholder="pfp url">
                <input type="submit">
              </form>

              <hr>
              <h3>Change this site's theme</h3>
              <form action="/auth/update-theme" method="POST">
                <select name="new_theme">
                  <option value="">---</option>
                  <option value="/styles/themes/light.css">Light</option>
                  <option value="/styles/themes/dark.css">Dark</option>
                  <option value="/styles/themes/pink.css">Pink</option>
                  <option value="/styles/themes/earth.css">Earth</option>
                  <option value="/styles/themes/brass.css">Brass</option>
                  <option value="/styles/themes/gif-ocean.css">Ocean (Animated)</option>
                  <option value="/styles/themes/gif-space.css">Space (Animated)</option>
                  <option value="/styles/themes/gif-christmas.css">Christmas (Animated)</option>
                  <option value="/styles/themes/gif-magma.css">Magma (Animated)</option>
                </select>
                <input type="submit">
              </form>
              <% } %>
    </center>
  </div>

  <%- include('../_layout/_meta/pagewrap-end') %>