<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1" />
    <title>Login</title>
    <!-- the form awesome library is used to add icons to our form -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" />
    <!-- include the stylesheet file -->
    <link href="/styles/login.css" rel="stylesheet" type="text/css" />
    <%- include('../_indivs/styles.ejs') %>

        <script>

            function checkPassword(form) {
                password1 = form.password1.value;
                password2 = form.password2.value;

                if (password1 == '')
                    alert("Please enter Password");

                else if (password2 == '')
                    alert("Please enter confirm password");

                else if (password1 != password2) {
                    alert("\nPassword did not match: Please try again...")
                    return false;
                }

                else {
                    return true;
                }
            }
        </script>

</head>

<body>
    <table id="layout">
        <tbody>
            <%- include('../_layout/header/row.ejs') %>

                <tr id="page">
                    <td id="options"></td>
                    <td id="content">
                        <div class="login">

                            <% try { %>
                                <span style="color:red">
                                    <%- red_message %>
                                </span>
                                <% } catch {} %>
                                    <% try { %>
                                        <span style="color:forestgreen">
                                            <%- green_message %>
                                        </span>
                                        <% } catch {} %>

                                            <h1>Register</h1>
                                            <form action="/auth/register" method="post"
                                                onSubmit="return checkPassword(this)">
                                                <label for="email">
                                                    <i class="fas fa-envelope"></i>
                                                </label>
                                                <input maxlength="255" type="text" name="email" placeholder="Email"
                                                    id="email" required />

                                                <label for="username">
                                                    <i class="fas fa-user"></i>
                                                </label>
                                                <input maxlength="255" type="text" name="username"
                                                    placeholder="Username" id="username" required />

                                                <label for="password1">
                                                    <i class="fas fa-lock"></i>
                                                </label>
                                                <input type="password" name="password1" placeholder="Password"
                                                    id="password1" required />

                                                <label for="password2">
                                                    <i class="fas fa-lock"></i>
                                                </label>
                                                <input type="password" name="password2" placeholder="Confirm Password"
                                                    id="password2" required />

                                                <input type="submit" value="Register" />

                                            </form>
                        </div>

                    </td>
                    <%- include('../_layout/page/overlays/appbar.ejs') %>
                </tr>
        </tbody>
    </table>
</body>

</html>