<%- include('../_layout/_meta/pagewrap-start') %>
    <div id="content-wrapper">
        <center>
            Don't have an account yet?
            <a href="/auth/register">
                <h5>Sign Up Here</h5>
            </a>
        </center>
        <div class="login">

            <% try { %>
                <span style="color:red">
                    <%- red_message %>
                </span>
                <% } catch {} %>
                    <% try { %>
                        <span style="color:forestgreen">
                            <%- green_message %>
                        </span>
                        <% } catch {} %>

                            <h1>Reset Password</h1>

                            <form action="/auth/reset-password" method="post"
                                onSubmit="return checkPassword(this)">
                                <input type="hidden" name="email" id="email" value="<%- email %>"
                                    required />
                                <input type="hidden" name="username" id="username"
                                    value="<%- username %>" required />
                                <input type="hidden" name="reset_key" id="reset_key"
                                    value="<%- reset_key %>" required />

                                <label for="password1">
                                    <i class="fas fa-lock"></i>
                                </label>
                                <input type="password" name="password1" placeholder="Password"
                                    id="password1" required />

                                <label for="password2">
                                    <i class="fas fa-lock"></i>
                                </label>
                                <input type="password" name="password2" placeholder="Confirm Password"
                                    id="password2" required />

                                <input type="submit" value="Submit" />
                            </form>
        </div>

    </div>
<%- include('../_layout/_meta/pagewrap-end') %>
